@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
:root{
    --cor-texto: #FAF7F0;
    --cor-fundo: #4A4947;
    --cor-secundaria: #3B3030;
    --cor-lilas: #CDC1FF;
    --font: "Protest Revolution", sans-serif;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--font)
}